:root {
  --color-bg-tan: #f8f6f9;
  --color-navy-text: #4a4f74;

  --color-green: #62c15d;
  --color-red: #d65555;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.6;
  color: var(--color-navy-text);
  background: #141e30; /* fallback for old browsers */
  background: var(--color-grey-light-1);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 2rem;
  max-width: 90rem;
  min-height: 100vh;
}

.head-panel {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}

.summary {
  line-height: 1;
  margin-bottom: 4rem;
}

.month_year {
  font-size: 1.8rem;
  color: var(--color-grey-light-3);
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.net_money {
  font-weight: 700;
  font-size: 6.5rem;
  margin-bottom: 1.5rem;
}

.head_label {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.mid-panel {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  color: var(--color-green);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 4rem;
}

.income_group {
  color: var(--color-green);
  flex: 1;
}

.expenses_group {
  color: var(--color-red);
  flex: 1;
}

.income_label,
.income_amount,
.expenses_label,
.expenses_amount {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* INPUT PANEL */

.input-panel {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  margin-bottom: 2rem;
}

.input_note {
  flex: 3;
  text-align: left;
}

.input_value {
  flex: 1;
  text-align: left;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  line-height: 1;
  display: flex;
}

.form_input {
  font-family: "Lato", sans-serif;
  width: 100%;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-green);
  transition: all 0.3s;
  border-bottom: 2px solid rgba(98, 193, 93, 0.6);
}

input:focus {
  outline: none;
}

.transaction-panel {
  padding: 2rem;
}

.transaction_item {
  display: flex;
  padding: 2rem 1rem;
  align-items: center;
}

.transaction_item_note {
  flex: 1;
  line-height: 1;
}

.transaction_item_note-info {
  font-size: 2rem;
  font-weight: 500;
}

.transaction_item_value {
  text-align: right;
  transition: all 0.3s;
}

.transaction_item_value-number {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
}

/* .form_label {
  position: absolute;
  padding: 5px 10px;
  color: var(--color-navy-text);
  font-size: 1.4rem;
  display: block;
  margin-top: 3px;
  opacity: 1;
  transform: translateY(0rem);
  transition: all 0.3s;
} */

/* Slider */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-green);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--color-red);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.add_button {
  margin-left: 4rem;

  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid var(--color-green);
}
